.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  align-items: center;
  height: 100vh;
}


.inputContainer {
  position: sticky; 
  top: 0; 
  z-index: 999;
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  border: 2px solid #000000; /* Borda dourada */
  border-radius: 5px;
  background-color: #ffffff;
}

/* Estilização do input */
.inputField {
  flex: 1;
  border: none;
  outline: none;
  background: transparent; /* Fundo transparente para exibir o fundo do container */
  color: #000000;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px 0 0 3px;
}


/* Botão de busca */
.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ícone dentro do botão */
.searchButton img {
  width: 20px;
  height: 20px;
  color: #000000;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding: 5px;
  width: 100%;
}

.columnLabel {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
}

.columnLabel::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}

.box {
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  height: 80px;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.box:hover {
  transform: scale(1.02);
}

.characterImage {
  width: 60px;
  height: 70px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  background-color: transparent !important;
}

.errorMessage {
  color: red;
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.boxGreen {
  background-color: #686020;
  border-color: #786C08;
}

.boxRed {
  background-color: #F44336;
  border-color: #D32F2F;
}

.boxYellow {
  background-color: #FFA000;
  border-color: #FFC107;

}

.searchBox {
  background-color: black;
  color: #ffcc00;
  text-align: center;
  padding: 20px;
  border: 1px solid #ffcc00;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  margin-top: 25%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  position: relative; 
  display: flex;
  align-items: center;
  width: 350px; /* Ajuste a largura conforme quiser */
  margin: 0 auto;
}

.inputField {
 
    flex: 1; 
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px; /* Arredonda apenas a esquerda */
  
  
}

.searchButton {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.searchButton img {
  width: 25px;
  height: 30px;
}

.tableContainer {
  flex: 1; /* Ocupa o restante da tela */
  overflow-y: auto; /* Habilita o scroll vertical */
  padding: 20px; /* Espaçamento ao redor da tabela */
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  /* etc... */
}

.tableContainer {
  flex: 1;
  overflow-y: scroll; /* ou auto, conforme sua necessidade */

  /* Remove a barra de rolagem no IE e Edge antigos */
  -ms-overflow-style: none; 

  /* Remove a barra de rolagem no Firefox */
  scrollbar-width: none;
}

/* Remove a barra de rolagem no Chrome, Safari e Opera */
.tableContainer::-webkit-scrollbar {
  display: none;
}