.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: transparent;
}

.searchContainer {
  width: 600px;
  margin-top: 4rem;
  text-align: center;
  border-radius: 12px;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.70);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 1.5rem;
  color: #ffcc00;
  margin-bottom: 2rem;
}

.descriptionContainer {
  margin: 0 auto 2rem;
  border: 1px solid #ffcc00;
  border-radius: 10px;
  background: #e2e2e2;
  padding: 1rem;
}

.descriptionText {
  font-size: 1rem;
  color: #000;
  text-align: left;
  white-space: pre-wrap;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 350px;
  margin-bottom: 1rem;
}

.inputField {
  flex: 1;
  padding: 10px;
  border: 2px solid #caa207;
  border-right: none;
  border-radius: 6px 0 0 6px;
  font-size: 1rem;
  outline: none;
  background-color: #1a1a1a; 
  color: #fff;
}

.searchButton {
  border: 2px solid #caa207;
  border-left: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 6px 6px 0;
  background-color: #caa207;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #e8b109;
}

.searchButton img {
  width: 20px;
  height: 20px;
  filter: drop-shadow(0 0 1px #000);
}


.errorMessage {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

/* CARD EXPANSIVO */

.tipBox:hover .tipText {
  opacity: 1;
}

.tipsContainer {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 1.5rem;
}

.tipBox {
  position: relative;
  width: 100px;
  height: 80px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: height 0.3s ease, color 0.3s ease;
  color: #858585;
  cursor: pointer;
}

.tipBox:hover {
  height: 120px;
}
.descriptionText {
  font-size: 1rem;
  font-weight: bold;
  text-align: center; 
  margin: 20px 0;
}

.tipIconContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tipIcon {
  width: 50px;
  height: 50px;
  filter: invert(40%);
  transition: filter 0.3s;
  margin-top: 12px;
}

.tipRevealed .tipIcon {
  filter: invert(100%);
}

.tipText {
  font-size: 1rem;
  margin-top: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tipRevealed .tipText {
  margin-top: 12px;
  opacity: 1;
  color: #fff;

}

/* Container dos cards de tentativas */
.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  gap: 15px;
  width: 300px;
  margin-bottom: 3rem;
}

/* Card base */
.box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 16px;
  border: 3px solid;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  background-color: #2c2c2c;
  min-height: 80px;
  overflow: hidden;
  width: 100%;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Card acerto */
.boxGreen {
  background-color: #686020;
  border-color: #3c3000;
}

/* Card erro */
.boxRed {
  background-color: #d7362d;
  border-color: #801a18;
}

/* Imagem no card */
.guessCharacterImage {
  width: 60px;
  height: 70px;
  object-fit: cover;
  border-radius: 8%;
}

/* Placeholder quando não há imagem */
.placeholder {
  width: 60px;
  height: 60px;
  background-color: #444;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nome do personagem no card */
.characterName {
  flex: 1;
  text-align: start;
  font-size: 1.2rem;
}
