/* CONTAINER PRINCIPAL */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  overflow-x: hidden; /* Impede rolagem horizontal */
}

/* CONTAINER DE BUSCA */
.searchContainer {
  width: 90%; /* Largura relativa */
  max-width: 600px; /* Limita a largura máxima para desktops */
  margin-top: 4rem;
  text-align: center;
  border-radius: 12px;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

/* TÍTULO */
.title {
  font-size: 1.5rem;
  color: #ffcc00;
  margin-bottom: 2rem;
}

/* CONTAINER DA DESCRIÇÃO */
.descriptionContainer {
  margin: 2rem auto; /* Aumenta o espaçamento superior e inferior */
  border: 1px solid #ffcc00;
  border-radius: 10px;
  background: #e2e2e2;
  padding: 1rem;
  max-width: 90%; /* Limita a largura máxima */
}

/* TEXTO DA DESCRIÇÃO */
.descriptionText {
  font-size: 1rem;
  color: #000;
  text-align: left;
  white-space: pre-wrap;
  line-height: 1.4; /* Melhora a legibilidade */
}

/* FORMULÁRIO DE BUSCA */
.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTAINER DO INPUT */
.inputContainer {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 350px;
  margin-bottom: 1rem;
}

/* CAMPO DE ENTRADA */
.inputField {
  flex: 1;
  padding: 10px;
  border: 2px solid #caa207;
  border-right: none;
  border-radius: 6px 0 0 6px;
  font-size: 1rem;
  outline: none;
  background-color: #1a1a1a;
  color: #fff;
}

/* BOTÃO DE ENVIO */
.searchButton {
  border: 2px solid #caa207;
  border-left: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 6px 6px 0;
  background-color: #caa207;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #e8b109;
}

.searchButton img {
  width: 20px;
  height: 20px;
  filter: drop-shadow(0 0 1px #000);
}

/* MENSAGEM DE ERRO */
.errorMessage {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

/* CONTAINER DOS CARDS EXPANSIVOS */
.tipsContainer {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 1.5rem;
}

.tipBox {
  position: relative;
  width: 45%; /* Largura relativa */
  height: 80px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: height 0.3s ease, color 0.3s ease;
  color: #858585;
  cursor: pointer;
}

.tipBox:hover {
  height: 120px;
}

.tipIconContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tipIcon {
  width: 50px;
  height: 50px;
  filter: invert(40%);
  transition: filter 0.3s;
  margin-top: 12px;
}

.tipRevealed .tipIcon {
  filter: invert(100%);
}

.tipText {
  font-size: 1rem;
  margin-top: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tipRevealed .tipText {
  margin-top: 12px;
  opacity: 1;
  color: #fff;
}

/* CONTAINER DOS CARDS DE TENTATIVAS */
.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  gap: 15px;
  width: 90%; /* Largura relativa */
  max-width: 300px; /* Limita a largura máxima */
  margin-bottom: 3rem;
}

/* CARD BASE */
.box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 16px;
  border: 3px solid;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  background-color: #2c2c2c;
  min-height: 80px;
  overflow: hidden;
  width: 100%;
  transition: background-color 0.3s, border-color 0.3s;
}

/* CARD ACERTO */
.boxGreen {
  background-color: #4F7942;
  border-color: #37552e;
}

/* CARD ERRO */
.boxRed {
  background-color: #d7362d;
  border-color: #801a18;
}

/* IMAGEM NO CARD */
.guessCharacterImage {
  width: 60px;
  height: 70px;
  object-fit: cover;
  border-radius: 8%;
}

/* PLACEHOLDER QUANDO NÃO HÁ IMAGEM */
.placeholder {
  width: 60px;
  height: 60px;
  background-color: #444;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NOME DO PERSONAGEM NO CARD */
.characterName {
  flex: 1;
  text-align: start;
  font-size: 1.2rem;
}

/* RESUMO DA PARTIDA */
.gameSummary {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 400px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gameSummary h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #cfa751;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.gameSummary p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

/* MEDIA QUERIES PARA DISPOSITIVOS MENORES */
@media (max-width: 768px) {
  .searchContainer {
    margin-top: rem; /* Reduz o espaçamento superior */
    padding: 1rem; /* Reduz o preenchimento interno */
  }

  .title {
    font-size: 1.2rem; /* Diminui o tamanho da fonte */
    margin-bottom: 1rem; /* Reduz o espaçamento inferior */
  }

  .tipsContainer {
    gap: 20px; /* Reduz o espaçamento entre os cards */
  }

  .tipBox {
    width: 40%; /* Ajusta a largura para telas menores */
  }

  .descriptionText {
    font-size: 0.9rem; /* Reduz o tamanho da fonte */
  }

  .box {
    min-height: 60px; /* Reduz a altura mínima dos cards */
  }

  .guessCharacterImage {
    width: 50px; /* Reduz o tamanho da imagem */
    height: 60px;
  }

  .placeholder {
    width: 50px; /* Reduz o tamanho do placeholder */
    height: 50px;
  }
}