.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 8% 0;
  flex-wrap: wrap;
}

.inputField {
  padding: 10px;
  font-size: 1rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding: 5px;
  width: 100%;
}

.columnLabel {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
}

.columnLabel::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}

.box {
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  height: 80px;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.box:hover {
  transform: scale(1.02);
}

.characterImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  background-color: transparent !important;
}

.errorMessage {
  color: red;
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.boxGreen {
  background-color: #686020;
  border-color: #786C08;
}

.boxRed {
  background-color: #F44336;
  border-color: #D32F2F;
}

/* MODALZIN */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
  color: white;
  max-width: 400px;
  width: 90%;
  border: 2px solid #c79c57; /* Borda dourada */
}

.characterImage {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  display: block;
  margin: 10px auto;
}

.blockquote {
  font-style: italic;
  font-size: 1.1rem;
  margin: 10px auto;
  max-width: 80%;
  color: #d8af6f;
}

.disabledText {
  color: gray;
  font-style: italic;
  cursor: not-allowed;
}

.countdown {
  font-weight: bold;
  font-size: 1.5rem;
  color: #f4a261;
}

.hr {
  border: none;
  height: 1px;
  background: white;
  width: 80%;
  margin: 15px auto;
}

.iconContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}
